<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>冲哥图片库</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head><body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand color-theme" href="/">
                <img src="/static/logo.png" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right mg-t-3">
                <li>
                    <a href="/upload" class="pd-tb-0"><button class="btn btn-success">上传图片</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <ol class="breadcrumb text-center">
        <li><a href="/">全部图集</a></li>
        <li class="active"><%=category%></li>
    </ol>
    <div class="row">
        <% for(var i=0; i<images.length; i++){ %>
        <div class="col-md-4 col-xs-6">
            <div onclick="javascript:showimg(this);" class="thumb-item" data-toggle="modal" data-target="#myModal">
                <span class="img">
                    <img src="/<%=category + '/' + images[i]%>" alt="<%=images[i]%>">
                </span>
                <span class="title"><%=images[i].substring(21, images[i].length-4)%></span>
            </div>
        </div>
        <%}%>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align: left;">
                <span class="pull-left" id="mName"></span>
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
            </div>
            <div class="modal-body text-center">
                <img src="" alt="" id="mImg">
            </div>
        </div>
    </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    function showimg(item){
	    let src = $(item).find('img').prop('src');
	    let name = $(item).find('.title').html();
	    $('#mImg').attr('src', src);
        $('#mName').html(name);
    }
</script>
</body></html>
