<!DOCTYPE html>
<html lang="zh-CN"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>冲哥图片库</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet">
    <link href="/static/main.css" rel="stylesheet">
</head><body>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">导航切换</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand color-theme" href="/">
                <img src="/static/logo.png" alt="logo">
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right mg-t-3">
                <li>
                    <a href="/upload" class="pd-tb-0"><button class="btn btn-success">上传图片</button></a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row" style="margin-top: 48px;">
        <form class="col-md-8 col-md-offset-2" action="/upload" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="exampleInputEmail1">选择图集：</label>
                <select class="form-control" name="category">
                    <%for(var i=0; i<categores.length; i++){%>
                    <option><%=categores[i]%></option>
                    <%}%>
                </select>
            </div>
            <div class="form-group">
                <label for="upload">选择图片：</label>
                <input type="file" id="upload" name="pic">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success pull-left">上传</button>
                <button type="button" class="btn btn-danger pull-right" id="create">创建新图集</button>
                <input type="text" id="createName" class="form-control pull-right" placeholder="输入新创建图集的名称" style="width: 30%;margin-right: 10px;">
            </div>
        </form>
    </div>
</div>

<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<script>
    $('#create').click(function () {
        let name = $('#createName').val();
        $.get('/create', {name}, function(res){
	        if(res.code === 0){
		        window.location.reload();
            };
        })
    })
</script>
</body></html>
